*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    position: fixed;
    padding: 10px 8%;
    z-index: 1000;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color:darkblue;
}
.logo span{
    color: blue;
    font-size: 3rem;
}
.navbar{
    display: flex;
    direction: rtl;
}
.navbar a{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
    transition: 0.5s ease-in-out;
}
.navbar a:hover{
    color: #fff;
    background: blue;
}
#menu{
    font-size: 2rem;
    color: #fff;
    background: blue;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: none;
    cursor: pointer;
}
.slider{
    width: 100%;
    position: relative;
}
.myslide{
    height: 665px;
    overflow: hidden;
    display: none;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: 10px;
    transition: 0.5s;
}
.next{
    right: 0;
}
.prev:hover, .next:hover{
    color: blue;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
.dot:hover, .active{
    border-color: blue;
}
.txt{
    left: 15%;
    top: 40%;
    position: absolute;
    color: #fff;
    line-height: 35px;
    z-index: 1;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
  }
  /* /muslide add fade */
  
  /* 3 */
  .txt{
      position: absolute;
      color: #fff;
      letter-spacing: 2px;
      line-height: 35px;
      top: 40%;
      left: 15%;
      -webkit-animation-name: posi;
        -webkit-animation-duration: 2s;
        animation-name: posi;
        animation-duration: 2s;
      z-index: 1;
  }
  
  @-webkit-keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
  }
  
  
  @keyframes posi {
    from {left: 25%;}
    to {left: 15%;}
  }
  
  .txt h1{
      color: #00a7ff; /* blue */
      font-size: 50px;
      margin-bottom: 20px;
  }
  .txt p{
      font-weight: bold;
      font-size: 20px;
  }
  /* /3 */
  
  /* 4 */
  .myslide img{
      transform: scale(1.5, 1.5);
      -webkit-animation-name: zoomin;
        -webkit-animation-duration: 40s;
        animation-name: zoomin;
        animation-duration: 40s;
  }
  @-webkit-keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
  }
  
  
  @keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
  }
.bio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 8%;
    direction: rtl;
}
.text{
    display: flex;
    flex-direction: column;
    line-height: 120px;
    text-align: center;
    font-size: 3rem;
}
.bio2{
    display: flex;
}
#displayText{
    font-size: 5rem;
    color: blue;
    margin-right: 20px;
    font-weight: 700;
}
.jelly-box{
    background-color: blue;
    font-size: .5rem;
    padding: 10px;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    outline: 2px solid var(--bg-color);
    z-index: 100;
    animation: morph 6s linear infinite;
}
@keyframes morph{
    0%,
    100%{
        border-radius:40% 60% 70% 30% / 40% 40% 60% 50% ;
    }
    30%{
        border-radius:70% 30% 50% 50% / 30% 30% 70% 70% ;
    }
    60%{
        border-radius:100% 60% 60% 100% / 100% 100% 60% 60% ;
    }
    80%{
        border-radius:69% 31% 66% 34% / 21% 30% 70% 79% ;
    }
 }
  

  

  
  


@media (max-width:600px){
    .logo{
        font-size: 1.2rem;
    }
    .logo span{
        font-size: 1.8rem;
    }
    #menu{
        display: block;
    }
    .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        top:-200px;
        left: 0;
        right: 0;
        transition: 0.5s;
    }
    .navbar a{
        padding: 10px;
        display: block;
    }
    .navbar.open{
        top: 50px;
    }
    .myslide{
        height: 300px;
    }
    .txt h1{
        font-size: 1.5rem;
    }
    .txt p{
        font-size: 0.65rem;
    }
    .bio{
        display: flex;
        flex-direction: column;
    }
    .text{
        font-size: 2rem;
    }
    .bio2{
        font-size: 1rem;
    }
    #displayText{
        font-size: 1.9rem;
    }
}